<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<!-- Agregue las referencias de FullCalendar -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>
    body{
        background-color: #202529;
    }
    
    table{
      margin-left: 18%;
        
        
    
    }
    .titlerutina{
      width: 30px;
      height: 50px;
      padding-left: 50px;
      color: #5ffc71;

    }
    .btn{
        background-color: #5ffc71;
        color: #202529;
    }
    td{
        border-radius: 5px;
    }
    
	#calendar {
		border-collapse: collapse;
	}

	#calendar th {
		background-color: #ccc;
		padding: 10px;
	}

	#calendar td {
		border: 1px solid #ccc;
		height: 100px;
		padding: 10px;
		position: relative;
	}

	#calendar td:hover {
		background-color: #f5f5f5;
		cursor: pointer;
	}

	#calendar td div {
		background-color:	#d9edf7;
	border-radius: 5px;
	color: #31708f;
	padding: 5px;
	position: absolute;
	bottom: 5px;
	left: 5px;
	right: 5px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

    
</style>
<body>
<nav style="background-color: #202529;">
        <div>
          <a class="navbar-brand" href="#">
            <img src="http://127.0.0.1:8000/img/brand/DV.png" alt="Gymcheck" width="110" height="110">
          </a>
        </div>
</nav>
<hr>
  <div class="container">
    <div class="row">
      <div class="col-12">        
        <div class="card" style="background-color: #6f839a;">
          <div class="card-header">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#tabla-rutinas" aria-expanded="false" aria-controls="tabla-rutinas" >
              Mostrar rutinas
            </button>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#tabla-recetas" aria-expanded="false" aria-controls="tabla-recetas">
              Mostrar recetas
            </button>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#tabla-calendario" aria-expanded="false" aria-controls="tabla-calendario">
                Mostrar calendario
              </button>
          </div>
          <div class="card-body">
            <div class="collapse" id="tabla-rutinas">
              <table>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/ObPPmCoiFAA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/NsceVmfkQJ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/ObPPmCoiFAA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/FqBfjPfjpME" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/uMuwj0H2RDg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/dqynXqte24o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/6wM1DAw87DM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/ZqLF4C3qM1s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/xP4iItH8HBU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/wIppFAhl6SE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>                    
                  </table>
            </div>
            <div class="collapse" id="tabla-recetas">
                <table>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/7fkmZUo7Rxc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/LRPZZZpkDBA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/YXVfbW7vsxk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/NrbOrd2X9yQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/v5hX5Hk_A1I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/pJbZgGQOME4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/wgbLUYHhHE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                    <tr>
                      <td><iframe width="700" height="400" src="https://www.youtube.com/embed/FUsCi-raVzY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    </tr>
                </table>
                  
            </div>
            <div class="collapse" id="tabla-calendario">
                <table id="calendar" style="background-color: #ccc;">
                    <thead>
                        <tr>
                            <th>Domingo</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sábado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- repetir para cada semana del mes -->
                    </tbody>
                </table>
                </div>
                <script>
                    window.onload = function() {
                        var date = new Date();
                        var year = date.getFullYear();
                        var month = date.getMonth();
                
                        var calendar = document.getElementById('calendar');
                        var calendarBody = calendar.getElementsByTagName('tbody')[0];
                
                        while (calendarBody.firstChild) {
                            calendarBody.removeChild(calendarBody.firstChild);
                        }
                
                        var daysInMonth = new Date(year, month + 1, 0).getDate();
                        var firstDayOfMonth = new Date(year, month, 1).getDay();
                
                        var dayOfWeek = 0;
                        var row = document.createElement('tr');
                
                        for (var i = 1; i < firstDayOfMonth; i++) {
                            row.appendChild(document.createElement('td'));
                            dayOfWeek++;
                        }
                
                        for (var i = 1; i <= daysInMonth; i++) {
                            var cell = document.createElement('td');
                            cell.innerText = i;
                            cell.dataset.dayOfWeek = dayOfWeek;
                
                            cell.onclick = function() {
                                var activity = prompt('Ingrese una actividad para el día ' + this.innerText);
                                if (activity) {
                                    var activityEl = document.createElement('div');
                                    activityEl.innerText = activity;
                                    this.appendChild(activityEl);
                                }
                            };
                
                            row.appendChild(cell);
                            dayOfWeek++;
                
                            if (dayOfWeek === 7) {
                                calendarBody.appendChild(row);
                                row = document.createElement('tr');
                                dayOfWeek = 0;
                            }
                        }
                
                        // completar la última semana del mes
                        for (var i = dayOfWeek; i < 7; i++) {
                            row.appendChild(document.createElement('td'));
                        }
                
                        calendarBody.appendChild(row);
                    };
                </script>
                
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>
</body>
</html>
